* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: rgb(36, 214, 170);
}
.navbar {
  background-color:rgb(36, 214, 170);
}

ul li .nav-link:hover {
  color: red;
}

header .container button:hover {
  color: black;
  font-weight: 600;
  background-color: rgb(255, 234, 0);
}

section .container .text {
  font-size: 40px;
  font-weight: 600;
}
section .container .row {
  justify-content: space-between;
}

section .container img {
  background-color: #17c76f;
  position: relative;
  padding: 10px;
  top: -20px;
}

section .container h5 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
section .container p {
  font-size: 18px;
  font-family: "Lato";
}

.section1 .a1 {
  font-family: "Lato";
  background-color: rgb(221, 202, 202);
}
.section1 .a1 .container .row .col-md-6 img {
  width: 100%;
}

.section1 .a1 .container .row button:hover {
  background-color: rgba(7, 106, 255, 0.623);
  color: rgb(255, 251, 251);
}

.section2 .container .text {
  font-size: 40px;
  font-weight: 500;
  margin-top: 25px;
}
.section2 .container .row {
  justify-content: center;
}
.section3 .container .row button:hover {
  color: rgb(0, 0, 0);
  font-weight: 600;
  background-color: rgb(255, 255, 255);
}

.section4 .container .row .col-4 {
  flex-wrap: wrap;
}
.section4 .container .row .col-4 h5 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Lato";
}
.section4 .container .row .col-4 .p {
  font-size: 16px;
  line-height: 24px;
  font-family: "Lato";
}
.section5 .container .row button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

/* -------------------------media query------------------ */

@media screen and (max-width: 1024px) {
  section .container .row {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section2 .container .row .col-6 .j1 .col-9 {
    margin-right: 15px;
  }
  .section2 .container .row .col-6 .j1 .col-1 {
    margin-right: 50px;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  section .container .row .text-center {
    margin-bottom: 30px;
    margin: -2px;
  }
}

@media screen and (max-width: 991px) {
  section .container .row .text-center {
    margin-bottom: 30px;
    margin: -2px;
  }
  
  .section2 .container .row .col-md-6 .j1 .col-md-1 {
    display: none;
  }
    .section2 .container .row .col-md-9 .text-end   {
      font-size: 15px;
    } 
}

@media screen and (max-width: 768px) {
  section .container .row .col-md-3 {
    margin-left: 25px;
    margin-bottom: 30px;
  }

  section .container .row .text-center {
    margin-bottom: 30px;
  }

  .section2 .container .row {
    margin-bottom: 20px;
  }

  .section3 .container .row .col-md-6 .progress {
    width: 100%;
    margin-bottom: 30px;
  }

  .section2 .container .row .col-md-6 .j1 .col-md-1 {
    display: none;
  }

  .section5 .container .row .col-md-5 button {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 575px) {
  section .container .row .text-center {
     width: 88%;
    margin: 26px;
  }
}

@media screen and (max-width: 368px) {
  section .container .text {
    font-size: 30px;
  }

  section .container .row {
    justify-content: center;
    /* margin-bottom: 10px; */
  }

  section .container .row .text-cenetr {
    margin-bottom: 30px;
  }

  .section1 .a1 .container .row .col-md-6 img {
    width: 100%;
  }

  .section2 .container .row .col-md-6 .j1 .col-md-1 {
    display: none;
  }

  .section5 .container .row .col-md-5 button {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
  }

  .section2 .container .text {
    font-size: 25px;
  }
}
